.wrapper{
    height: auto;
    display: flex;
    flex-direction: column;
    padding-left: 10%;
    padding-right: 10%;
    margin-bottom: 150px;
}

.header{
    font-weight: 600;
    font-size: 54px;
    margin-bottom: 50px;
}

.imageC{
    position: relative;
}
.title{
    position: absolute;
    top: 80%;
    width: 100%;
    text-align: center;
    font-weight: 600;
    font-size: 24px;
}